#textarea-input {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 15rem;
    max-height: 70vh;
    padding: var(--unit-size-x2);
    margin: var(--unit-size-x4) 0;
    border: 1px var(--main-color) solid;
}
