:root {
    --white-color: white;
    --main-bg-color: #F0EBF6;
    --dark-bg-color: #e1e1e1;
    --main-accent-color: #8E39EF;
    --dark-accent-color: #5E26A0;
    --main-font-color: #444;
    --light-font-color: white;

    --unit-size: 4px;
    --unit-size-x2: calc(var(--unit-size) * 2);
    --unit-size-x4: calc(var(--unit-size) * 4);
    --unit-size-x6: calc(var(--unit-size) * 6);
    --unit-size-x8: calc(var(--unit-size) * 8);
    --unit-size-x12: calc(var(--unit-size) * 12);
    --unit-size-x16: calc(var(--unit-size) * 16);
    --unit-size-x20: calc(var(--unit-size) * 20);
}

html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background: var(--main-bg-color);
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    font-weight: 400;
    color: var(--main-font-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

li {
    line-height: 1.5rem;
}

button {
    padding: 0.5rem 1.5rem;
    background: var(--main-accent-color);
    border-radius: var(--unit-size);
    color: var(--light-font-color);
    font-weight: 500;
    outline: none;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

button:hover {
    background: var(--dark-accent-color);
}

ul {
    padding-left: var(--unit-size-x6);
    margin: 0;
}

p {
    margin-top: 0;
}

h1,
h2,
h3,
h3,
h5,
h6 {
    font-weight: 700;
}

#app {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: var(--unit-size-x16) var(--unit-size-x8);
}

.header {
    padding-left: var(--unit-size-x12);
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: var(--main-accent-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 56px;
}

.header a, .header a:visited {
    color: var(--light-font-color);
    text-decoration: none;
}

.header a {
    margin-left: var(--unit-size-x4);
    padding: var(--unit-size-x2) var(--unit-size-x2);
    opacity: 0.8;
    transition: opacity .1s ease-in-out;
    font-weight: 600;
    font-size: 1.2rem;
}

.header a:hover, .header .active {
    opacity: 1;
}


.header .logo {
    width: auto;
    height: 85%;
}

.header title a {
    font-size: 1.5rem;
}

.header title {
    display: block;
    padding: 0 var(--unit-size-x2);
    font-weight: 400;
    color: var(--light-font-color);
    position: relative;
}

.header title:after {
    display: block;
    position: absolute;
    content: '';
    right: -2px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--white-color);
    opacity: 0.8;
}

.main-head {
    margin-top: 0;
}

.how-to-title {
    margin-bottom: 0;
    font-weight: 600;
}

.card {
    background: var(--white-color);
    border-radius: var(--unit-size);
    margin: 1rem auto;
    padding: 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card h1 {
    font-size: 1.8rem;
}

.card h2 {
    font-size: 1.2rem;
}

.card p:last-child {
    margin-bottom: 0;
}

.card .results {
    font-size: 18px;
}


.faq h3 {
    margin-top: 0;
    font-size: 22px;
}

.faq details summary {
    cursor: pointer;
    outline: none;
    padding: var(--unit-size-x2) 0;
    transition: background-color 0.2s ease-in-out;
    border-radius: var(--unit-size-x2);
    font-weight: 600;
}

.faq details summary:hover {
    background-color: #e1e1e1;
}

.faq details + details {
    margin-top: var(--unit-size-x2);
}

.faq details p {
    margin: var(--unit-size-x2) 0 0 var(--unit-size-x8);
}

.faq ul {
    margin-bottom: var(--unit-size-x2);
}

.footer-select {
    display: flex;
    justify-content: center;
    align-items: center;
}

#textarea-input {
    width: 100%;
    min-width: 100%;
    min-height: 15rem;
    max-height: 70vh;
    padding: var(--unit-size-x2);
    margin: var(--unit-size-x4) 0;
    border: 1px var(--main-accent-color) solid;
}

.footer-text {
    text-align: center;
    margin-top: var(--unit-size-x4);
}

footer label {
    margin-right: var(--unit-size-x2);
}

/* media queries */
@media only screen and (max-width: 600px) {
    .header {
        height: 50px;
        padding-left: var(--unit-size-x4);
    }

    ul {
        padding-left: var(--unit-size-x2);
    }

    .header title {
        font-size: 22px;
    }

    .card {
        padding: var(--unit-size-x6);
    }

    #app {
        padding: var(--unit-size-x12) var(--unit-size-x2);
    }
}
