nav {
  padding-left: var(--unit-size-x12);
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: var(--main-accent-color);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  height: 56px;

  .logo {
    opacity: 1;
    display: block;
    padding: 0;
    margin: 0;

    img {
      width: auto;
      height: 42px;
      position: relative;
      top: 2px;
    }
  }

  a {
    color: var(--light-font-color);
    margin-left: var(--unit-size-x6);
    padding: var(--unit-size-x2) var(--unit-size-x2);
    opacity: 0.8;
    transition: opacity .1s ease-in-out;
    font-weight: 600;
    font-size: 1.2rem;
    text-decoration: none;
    position: relative;

    &:hover, .active {
      opacity: 1;
    }

  }

  > a {
    &::before {
      display: block;
      position: absolute;
      content: '';
      left: -2px;
      top: 30%;
      height: 50%;
      width: 2px;
      background-color: var(--white-color);
      opacity: 0.8;
      transition: height 0.2s ease-in-out, top 0.2s ease-in-out;
    }

    &:hover::before {
      top: 15%;
      height: 80%;
    }
  }

  title {
    display: block;
    padding: 0 var(--unit-size-x2);
    font-weight: 400;
    color: var(--light-font-color);
    position: relative;
  }
}